<section>
    <div class="container ">
        <div class=" al">
       <h1> Order success</h1>
       <a class="btn btn-success" href="/orders" >view order</a>
       </div>
    </div>
</section>
<style>
    .al{
        text-align: center;
        margin-top: 30px;
    }

</style>